<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Statsitik Mingguan (%)</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <input type="text" class="knob" data-readonly="true" value="1.6" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Tilawah</div>
            </div><!-- ./col -->
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Al-Mathurat</div>
            </div><!-- ./col -->
            <div class="col-xs-4 text-center">
                <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Sholat Dhuha</div>
            </div><!-- ./col -->
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Sedekah</div>
            </div><!-- ./col -->
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Tahajud</div>
            </div><!-- ./col -->
            <div class="col-xs-4 text-center">
                <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Puasa Sunnah</div>
            </div><!-- ./col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div>