<!DOCTYPE html>
<html><head>
    <script type="text/javascript" src="{{ app.request.host }}/js/plugins/jquery/jquery-1.9.1.js"></script>
</head>
<body>
<script src="{{ app.request.host }}/js/plugins/highchart/highstock.js"></script>
<script src="{{ app.request.host }}/js/plugins/highchart/exporting.js"></script>

<div id="container" style="height: 400px"></div>
<script type="text/javascript">//<![CDATA[

    $(function () {
        var seriesOptions = [],
                seriesCounter = 0,
                names = ['dhuha', 'puasa', 'sedekah', 'tahajud', 'banyak_tilawah', 'almathurat'],
        // create the chart when all data is loaded
                createChart = function () {

                    $('#container').highcharts('StockChart', {

                        rangeSelector: {
                            selected: 4
                        },

                        yAxis: {
                            labels: {
                                formatter: function () {
                                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                                }
                            },
                            plotLines: [{
                                value: 0,
                                width: 2,
                                color: 'silver'
                            }]
                        },

                        plotOptions: {
                            series: {
                                compare: 'percent'
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: [
                            ]
                        },
                        tooltip: {
                            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                            valueDecimals: 2
                        },

                        series: seriesOptions
                    });
                };

        $.each(names, function (i, name) {
            $.ajax({
                type: "POST",
                url: '/getjson',
                data: {'amalan': name},
                success: function(data){console.log(data.error);
                    var convertData = [];
                    $.each(data, function(i, item) {
                        convertData[i] = [Date.UTC(item[0], item[1], item[2]), parseFloat(item[3])];
                    });

                    seriesOptions[i] = {
                        name: name,
                        data: convertData
                    };

                    seriesCounter += 1;

                    if (seriesCounter === names.length) {
                        createChart();
                    }
                }
            });
        });
    });

</script>

</body></html>