<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="{{ app.request.host }}/img/user.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
        <p>Hello World</p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>

<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="active">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
</ul>