{% extends 'main.twig' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Profile</li>
        </ol>
    </section>


    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable">
                {% include 'Profile/logininfo.twig' %}
                {% include 'Profile/datapersonal.twig' %}
            </section>

            <!-- Right col -->
            <section class="col-lg-6 connectedSortable">

            </section>
        </div>
    </section><!-- /.content -->


{% endblock %}